{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    
    
    <section id = "login">
        <section id="formlogin">
            <form method="post" id="log">
                <h2>LOGIN</h2>
                <img style="widht: 100px; margin-left: 20px;"src="{% static 'images/perrogato.png'%}">
                {% csrf_token %}
                {{form | crispy}}
                <p>¿Olvidaste tu contraseña?</p>
                <button type="submit" class="btn btn-success">Ingresar</button>
            </form>
        </section> 

    </section>    
{% endblock %}