{% extends 'core/base.html' %}
{% load static %}
{% block content %}

    <h1>PRODUCTOS {{nombre}}:</h1>

    <section id="articulos">
    {% for p in producto %}

        <div>
          <div class="card" style="width: 18rem;">
            <img style="height: 250px; width: 280px;" src="{{p.imagen}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><span>{{p.descripcion}}</span></h5>
              <p>Stock: <span>{{p.stock}}</span> disponibles</p>
              <p>Valor: ${{p.precio}}</p>
              {% if user.is_authenticated%}
                {% if p.oferta == True %}
                  <p>Valor usuario: <strong style="font-size: 20px; color: red;">{{ p.tachado }}</strong></p>
                {% endif %} 
              {%endif %}

              <div id="agregar">
                {% if p.stock >= 1 %}
                  <a id="boton-catalogo" href="{% url 'addtocar' p.codigo %}" onclick="validarStock1()">Agregar al carrito</a>
                {% else %}
                  <button id="boton-catalogo" disabled>No disponible</button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      
      {% endfor %}
    </section>

{% endblock content %}